#title {
}
#speaker li {
	font-size: 0.7em;
}
#speaker .contact {
	text-align: right;
	font-size: 0.6em;
}
#speaker img.speakerpic {
	float: right;
}

#web-framework-controversy h1 {
	color: #999;
}
#web-framework-controversy h1 em {
	color: red;
}

#actionvscomponent .title {
	text-align: center;
	height: 600px;
}
#mvc .logo {
	height: 2em;
}
#component {
	height: 600px;
}
#component-rich .logo, #component-web .logo {
	max-height: 2.5em;
	max-width: 10em;
}

#speed .title {
	position: absolute;
	top: 100px;
	right: 0;
	left: 250px;
}

#speed-benchmark img {
	margin-left: -1em;
}

#modular .title {
	top: 50px;
}
#secure .title {
	left: 350px;
	top: 150px;
}

#metaprogramming-own-2 .syntaxhighlighter {
	font-size: 18px ! important;
}

#imgcredits {
	display: none;
}